@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif, 'Times New Roman', Times, serif;
    background-image: url("vcsd.png");
}
/* Styling the Header  */
.header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: darkgray;
}

.header, .contact, .action {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    margin: 0px 50px;
    padding: 0px 20px;
}

.action {
    margin: 0px 50px;
    padding: 0px 20px;
}

.st {
    padding: 10px 15px;
    font-weight: 700;
    cursor: pointer;
}
/* Styling the Navigation Menus */
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 15px;
    background-color: black;
}

h2 {
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-weight: 300;
}

.hero1 {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.searchBox img {
    cursor: pointer;
}
input {
    border-radius: 10px;
    padding: 15px;
    margin: 0px 5px; 
    outline: none;
}
.searchBox {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    height: 30px;
    padding: 10px 5px;
}
/* The Hero Section Styled  */
.h1, .h2{
    font-size: 40px;
    font-weight: 800;
    padding: 5px 20px;
}
.h2 {
     color: olive ;
}
.text { 
    display: block;
    position: relative;
} 
.text .h1 {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 1%;
    -ms-transform: translate(40%, 10%);
    transform: translate(40%, 10%);
}

.text .h2 {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 0%;
    -ms-transform: translate(30%, 10%);
    transform: translate(30%, 10%);
}
.text .text1 {
    margin: 0;
    position: relative;
    top: 45%;
    left: 10%;
    -ms-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
}
.text .button {
    margin: 0;
    position: relative;
    top: 55%;
    left: 15%;
    -ms-transform: translate(40%, 10%);
    transform: translate(40%, 10%);
}
.button {
    padding: 10px 30px;
    border-radius: 10px;
    border: 3px solid rgb(241, 241, 130);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.button:active {
    background-color: rgb(250, 250, 179);
}
.text1 {
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Montserrat Alternates', sans-serif;
}
.hero2  {
    display: flex;
    justify-content: space-between;
}